# PO runs in mock mode by default.
API_MODE=mock

# Real partner API mode.
# These forms are accepted:
#   http://localhost:3002
#   http://localhost:3002/partner
#   http://localhost:3002/partner/api/v1
PARTNER_BACKEND_URL=http://localhost:3002/partner
BACKEND_URL=http://localhost:3002/partner/api/v1
